<section *ngIf = "telaReq == false">
    <h1 *ngIf = "usuario == 'Cliente'">Listagem de veículos (Usuário Cliente)</h1>
    <h1 *ngIf = "usuario == 'ADM'" >Listagem de veículos (Usuário ADM)</h1>
    <div>
        <input type="text" [(ngModel)]="veiculo" placeholder="Exemplo: Fiat, HB20">
        <button type="button" (click)="buscar(veiculo)">Buscar</button>
    </div>

    <table *ngIf = "usuario == 'Cliente'" >
        <tr>
            <th>Nome</th>
            <th>Quant. Disponíveis</th>
            <th>Operação</th>
        </tr>

        <tr *ngFor = "let nome of listar; index as i">
            <td> {{nome.modelo}} </td>
            <td> {{nome.quant}} </td>
            <!-- <td> <button type="button" routerLink = "/solicitacao" >Solicitar</button> </td>-->
            <td> <button type="button"  (click) = ecolherModelo(i) (click) = goSolicita() >Solicitar</button> </td>
            
        </tr>
    </table>

    <table class="tableAdm" *ngIf = "usuario == 'ADM'" >
        <button type="button" routerLink = "/aprovacao">Solicitações</button> 

        <tr>
            <th>Nome</th>
            <th>Disponibilidade</th>
            <th>Chaci</th>
            <!--<th>Operação</th>-->
        </tr>

        <tr *ngFor = "let nome of this.banco">
            <td> {{nome.modelo}} </td>
            <td> {{nome.disponivel}} </td>
            <td> {{nome.chassi}} </td>
            <!-- <td> <button type="button" routerLink = "/solicitacao" >Solicitar</button> </td>-->
            <!--<td> <button type="button" (click) = goSolicita() (click) = ecolherModelo(i) >Solicitar</button> </td> -->
            
        </tr>
    </table>
</section>

<td> 
    <button type="button" (click) = goSolicita() *ngIf = "telaReq == true">Voltar</button> 
</td>

<app-solicita-carro *ngIf = "telaReq == true" [modeloCarro]="this.modeloEscolhido" [usuario]="this.emailUsuario" >

</app-solicita-carro>